.searchForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 80%;
    padding: 1rem;
}

.searchForm>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.form-label {
    margin-bottom: 0;
}

.formControl {
    width: 100%;
}

.button {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .searchForm {
        padding: 8px;
        width: 100%;
        gap: .5rem;
        grid-template-columns: 1fr;
    }

    .searchForm>div {
        flex-direction: column;
        align-items: center;
    }

    .searchButton {
        grid-column: span 1;

    }
}

.floatingLabel {
    width: 100%;
    display: flex;
}