.app-container {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.form-label {
    display: inline-block;
}

.content-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }

    .content-container {
        padding: 10px;
        gap: 0;
    }

    .form-label {
        display: none;
    }

    .drawer-container {
        width: 100%;
    }
}